.DetailsMatchPrediction {
  background-color: #26292b;
  width: 100%;
  padding-bottom: 20px;
  justify-self: center;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DetailsMatchPrediction #predictChart{
  flex-direction: row;
  display: flex;
  width: 90%;
}
.DetailsMatchPrediction button {
  background-color: black;
  color: white;
  padding: 10px;
  border: 2px solid #5f7adb;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
