#detailsMatch {
  background-color: #2e3239;
  width: 100%;
  border-radius: 15px;
  min-width: 700px;
  height: fit-content;
  display: grid;
  margin-bottom: 100px;
  align-items: center;
}

#detailsMatch #detailsContent{
  width: max-content;
  justify-self: center;
  min-width: 60vw;
}

#detailsMatch #detailsTitle {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 80px;
  margin-left: 30px;
}

#detailsMatch #prediction {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
}
#detailsMatch #lastMatches {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 10px;
}

