.DetailsMatchLastMatches {
  background-color: #26292b;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 45%;
  height: 100%;
}
.DetailsMatchLastMatches .lastMatchesHeader {
  padding: 10px;
  white-space: nowrap;
  flex: 1;
}
