#detailsMatch {
  background-color: #2e3239;
  width: 100%;
  border-radius: 15px;
  min-width: 700px;
  height: fit-content;
  display: grid;
  margin-bottom: 100px;
}

#detailsMatch #detailsTitle {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: 80px;
  margin-left: 30px;
}

#detailsMatch #lastMatches {
  margin-top: 20px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-self: center;
  width: fit-content;
  min-width: 50vw;
  margin-bottom: 20px;
  justify-content: space-between;
}
