#matchSchedule {
  background-color: #2e3239;
  width: 100%;
  border-radius: 15px;
  height: fit-content;
  min-width: 924px;
  margin-bottom: 20px;
}
#matchSchedule .leagueI:last-child {
  border-bottom: none;
}

#matchSchedule #headerSchedule {
  display: flex;
  flex-direction: row;
  height: 6vh;
  align-items: center;
  margin-left: 30px;
}

#matchSchedule #title,
#matchSchedule #date {
  font-size: 30px;
  font-weight: bold;
}
#matchSchedule #date {
  margin-left: 5px;
  color: #afafaf;
}

#matchSchedule #date:hover {
  background-color: #40464f;
  cursor: pointer;
}

.dark-theme-calendar {
  .react-datepicker__month-container {
    background-color: #2e3239;
    border: 1px solid #aeaeae;
    color: white;
  }
  .react-datepicker__header {
    background-color: #26292b;
  }
  .react-datepicker__current-month,
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: white;
  }
  .react-datepicker__day:hover,
  .react-datepicker__day--selected {
    background-color: #5f7adb;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: #2e3239;
  }
}
