.smallTeamLogo {
    width: 26px;
    height: 26px;
    background-color: #cecece;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  .smallTeamImage {
    width: 80%;
    height: 80%;
  }